name: Xymon build (Linux)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    name: build (${{ matrix.name }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: server
            variant: server

          - name: client, CT=client
            variant: client
            conftype: client

          - name: client CT=server
            variant: client
            conftype: server

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-env
        with:
          profile: debian

      - uses: ./.github/actions/select-compiler
        with:
          compiler: gcc

      - uses: ./.github/actions/configure-xymon
        with:
          variant: ${{ matrix.variant }}
          profile: debian
        env:
          CONFTYPE: ${{ matrix.conftype }}

      - uses: ./.github/actions/build-xymon

